<div class="container mt-5" *ngIf="!displayAlltest">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info text-white d-flex justify-content-between">
          <h4>Tests</h4>
          <button type="button" class="btn   border-0" (click)="displayAlltest =!displayAlltest"><i
              class="fa-solid fa-plus fs-5" style="color: white;"></i></button>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-header bg-light ">
                  <div>
                    <h4>New Test</h4>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div>
                        <label for="">Test Name :</label>
                        <input type="text" name="name" [(ngModel)]="testObj.testName" class="form-control">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="my-2">
                        <label for="">Test Description :</label>
                        <textarea name="description" cols="5" rows="5" [(ngModel)]="testObj.description"
                          class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <div>
                        <label for="">Test Duration :</label>
                        <input type="text" name="name" [(ngModel)]="testObj.duration" class="form-control">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="my-2">


                        <button type="button" class="btn btn-outline-primary" (click)="save()"><i
                            class="fa-solid fa-floppy-disk me-1" style="color: black;"></i>Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="card">
                <div class="card-header bg-light d-flex justify-content-between">
                  <h4>Test Questions</h4>

                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="mb-3">
                      <div class="row">
                        <div class="col-4">
                          <select name="category" class="form-control" [(ngModel)]="categoryId"
                            (change)="changeCategory()">
                            <option value="select">Select Langaugae</option>
                            <option *ngFor="let cate of categoryArray" [value]="cate.categoryId">{{cate.categoryName}}
                            </option>
                          </select>
                        </div>
                        <div class="col-4">
                          <select name="question" class="form-control" [(ngModel)]="questionId">
                            <option value="select">Select Questions</option>
                            <option *ngFor="let qlist of questionArray" [value]="qlist.questionId">
                              {{qlist.questionName}}</option>
                          </select>
                        </div>
                        <div class="col-4">
                          <div>
                            <button type="button" class="btn border-0 " (click)="bulkAddData()"><i
                                class="fa-solid fa-plus me-1" style="color: black;"></i> Add questions</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sr</th>
                            <th>Question</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor=" let list of testObj.quizTestQuestions;let sr=index">
                            <td>{{sr+1}}</td>
                            <td>
                              <div>
                                {{list.questionName}}
                              </div>

                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="displayAlltest">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info d-flex justify-content-between">
          <h4 class="text-dark">All Test</h4>
          <button type="button" class="btn  border-0" (click)="displayAlltest =!displayAlltest"><i
              class="fa-solid fa-plus fs-5" style="color: black"></i></button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered ">
                <thead>
                  <tr>
                    <th>Sr</th>
                    <th>Test Name</th>
                    <th>Test Description</th>
                    <th>Test Duration</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let test of filteredTestArray; let sr=index">
                    <td>{{sr+1}}</td>
                    <td> {{test.testName}}</td>
                    <td> {{test.description}}</td>
                    <td> {{test.duration}}</td>
                    <td>
                      <button type="button" class="btn  me-1 border-0 text-dark" (click)="edit(test.testId)"><i
                          class="fa-solid fa-pen-to-square" style="color: #0b27f4;"></i></button>
                      <button type="button" class="btn border-0 text-dark" (click)="deletetest(test.testId)"><i
                          class="fa-solid fa-trash-can" style="color: red;"></i></button>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
