<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card mt-5">
        <div class="card-header">
          <h4> Your Assigned Test </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>Test Name</th>
                    <th>Full Name</th>
                    <th>Email </th>
                    <th>Start</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let testList of testArray">
                    <td>{{testList.testName}}</td>
                    <td>{{testList.fullName}}</td>
                    <td>{{testList.emailid}}</td>
                    <td>
                      <button type="button" class="btn btn-outline-primary" (click)="startTest(testList.userId)">Start
                        Test</button>
                    </td>


                  </tr>
                </tbody>
              </table>
              <!-- <div class=" card border shadow border-1 p-2 m-2" *ngFor="let testList of testArray">
                                <div class="d-flex justify-content-between">
                                    <h5 class="m-0 p-0">{{testList.testName}}</h5>
                                <button type="button" class="btn btn-outline-primary">Start Test</button>
                                </div>
                            </div> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
