<div class="container" *ngIf="!isViewResult">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card mt-5">
        <div class="card-header">
          <h4> Your Assigned Test </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>Test Name</th>
                    <th>Full Name</th>
                    <th>Email </th>
                    <th>Test</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let testList of testArray">
                    <td>{{testList.testName}}</td>
                    <td>{{testList.fullName}}</td>
                    <td>{{testList.emailid}}</td>
                    <td>
                      <div class="d-flex justify-content-center">
                      <div *ngIf="!testList.isCompleted" >
                        <button type="button" class="btn btn-outline-primary" (click)="startTest(testList.assignedTestId,testList.testId)">Start
                          Test</button>
                      </div>
                       
                      <div *ngIf="testList.isCompleted">
                        <button type="button" class="btn btn-outline-success" (click)="viewResult(testList.assignedTestId)">View
                          Result</button>
                      </div>
                    </div>
                    </td>
                    


                  </tr>
                </tbody>
              </table>
              <!-- <div class=" card border shadow border-1 p-2 m-2" *ngFor="let testList of testArray">
                                <div class="d-flex justify-content-between">
                                    <h5 class="m-0 p-0">{{testList.testName}}</h5>
                                <button type="button" class="btn btn-outline-primary">Start Test</button>
                                </div>
                            </div> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isViewResult">
  <section class="mt-5 pt-5 ">
   <div class="row">
    <div class="col-12">
      <div>
        <div class="text-center" >
          <h4>Result</h4>
         
          <img *ngIf="trueCount < passingScore" src="https://cdn-icons-png.freepik.com/256/2889/2889529.png?ga=GA1.1.965147061.1706959087&semt=ais" alt="">
          <img *ngIf="trueCount >= passingScore" src="https://cdn-icons-png.freepik.com/256/2699/2699050.png?ga=GA1.1.965147061.1706959087&semt=ais" alt="">
         
           <p>Your Score :{{trueCount*100}} /{{resultArray.length *100}}</p>
           <p>Passing Score : {{passingScore}}</p>
        </div>
      </div>
    </div>
   </div>
   <p class="text-muted">See Your Answer</p>
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-4">
        <div class="card my-3" *ngFor="let result of resultArray">
          <div class="card-body" >
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-end">
                  <i class="fa fa-clipboard-question text-info fs-5 me-2"></i>
                  <span class="fs-6">{{result.questionName}}</span>
                  <p class="mt-4">Your Selected Answer : <strong>{{result.optionSelected}}</strong></p>
                </div>
              </div>
              <div class="align-self-center">
                <h6 class=" mb-0 text-success fw-bold" *ngIf="result.isCorrect"><i class="fa-solid fa-circle-check mx-2" style="color: green;"></i>Correct </h6>
                <h6 class=" mb-0 text-danger fw-bold" *ngIf="!result.isCorrect"><i class="fa-solid fa-circle-xmark mx-2" style="color: red;"></i>Incorrect</h6>

              </div>
            </div>
          </div>
          
        </div>
        
      </div>
     
    </div>
   
  </section>
  <div class="text-end mb-4">
    <button class="btn btn-dark text-white" (click)="home()">Go To Home Page</button>
  </div>
 
</div>

