<div class="container">
  <div class="row pt-2">
    <form>
      <div class="row ">
        <div class="col-6 ">
          <label for="">Languages :</label>
          <select [(ngModel)]="languageId" name="language" class="form-control" (change)="getTopic()">
            <option value="">Select</option>
            <option [value]="list.languageId" *ngFor="let list of languageArray">
              {{list.language}}</option>
          </select>
        </div>
        <div class="col-6">
          <label for="">Topics :</label>
          <select [(ngModel)]="addQue.languageTopicId" name="topic" class="form-control">
            <option value="">Select</option>
            <option [value]="list.languageTopicId" *ngFor="let list of topicArray">
              {{list.topicName}}</option>
          </select>
        </div>
        <div class="col-12 py-3">
          <label for="">Add Your Questions :</label>
          <textarea name="question" class="form-control"   rows="2" [(ngModel)]="addQue.question"></textarea>
        </div>
        <div class="col-12">
          <label for="">Add Answer</label>
          <p-editor [style]="{ height: '150px' }" name="questionName" [(ngModel)]="addQue.answer"></p-editor>

        </div>
        <div class="col-12">
          <div class="my-2">
            <button type="button" class="btn btn-primary" (click)="addLanguageQuestions(addQue)">Save</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>