<mat-toolbar color="info">
    <a class="p-2 text-decoration-none text-white mt-2" (click)="menuToggled.emit(true)" mat-icon-button>
      <mat-icon fontIcon="menu">menu</mat-icon>
    </a>
    <span class="title text-white fs-4 mt-1" routerLink="home">CodeFirst ERP</span>
    <span class="spacer"></span>
    <span class="welcome-text">Hello ,{{ retrievedData.fullName}} ({{retrievedData.role}})</span>
    <a class="p-2 text-decoration-none text-white mt-2" mat-icon-button (click)="logout()" >
      <!-- <mat-icon>person_pin</mat-icon> -->
      <mat-icon>logout</mat-icon>
    </a>
    

    <!-- <mat-menu >
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu> -->
  </mat-toolbar>