<nav class="navbar navbar-expand-lg bg-white fixed-top mynav pb-0 pt-0">
    <div class="container-fluid">

        <a class="navbar-brand align-self-baseline" href="#"><i class="fa-solid fa-bars me-3"></i>Jira Software</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-dark">
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Assigned Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Categories</a>
                </li> 
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-dark">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark content-hover" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                           user
                        </a>
                        <ul class="dropdown-menu logUser">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Logo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Log-Off</a></li>
                        </ul>
                    </li>
                </ul> 
            </form>
        </div>
    </div>
</nav>