/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
body {
    font-family: 'Lato', sans-serif;
/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
}
.modal-backdrop{
  background-color: transparent !important;
  z-index: auto !important;
}
.p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
  padding: 5px 5px 5px 5px !important;
  /* background-color: #343A40 !important; */
  /* color: #fff; */
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
  padding: 5px 5px 5px 8px !important;
  /* color: rgba(0, 0, 0, 0.815); */
}

.p-datatable .p-datatable-thead>tr>th {
  background: #f6f6f6 !important;
}

.p-datatable .p-datatable-tbody>tr:hover {
  cursor: pointer;
}
