<div class="container-fluid">
  <div class="row pt-5">
    <div [ngClass]="isSidePannelOpen?'col-12':'col-12'">
      <div class="card">
        <div class="card-header bg-secondary text-end "><button type="button" class="btn btn-primary me-2"
            data-bs-toggle="modal" data-bs-target="#myModal">
            AssignTest
          </button>
          <button type="button" class="btn btn-warning me-2" (click)="bulkAssignTestData()"> Add Bulk</button>
        </div>
        <div class="card-body">
          <p-table [value]="assignTestList" [paginator]="true" [rows]="10" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
            <ng-template pTemplate="header">
              <tr class="button-cell">
                <th style="width: 3%;">Sr</th>
                <th>Email-Id</th>
                <th pSortableColumn="fullName"> Full Name<p-sortIcon field="fullName"></p-sortIcon></th>
                <th>Test Name</th>
                <th>Assigned Date</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-test let-sr="rowIndex">
              <tr class="button-cell">
                <td>{{sr+1}}</td>
                <td>
                  <div *ngIf="test.isEdit">
                    <input type="text" name="emailid" [(ngModel)]="test.emailid" placeholder="email id"
                      class="form-control">
                  </div>
                  <div *ngIf="!test.isEdit">
                    {{test.emailid}}
                  </div>
                </td>
                <td>
                  <div *ngIf="test.isEdit">
                    <input type="text" name="fullName" [(ngModel)]="test.fullName" placeholder="full Name"
                      class="form-control">
                  </div>
                  <div *ngIf="!test.isEdit">
                    {{test.fullName}}
                  </div>
                </td>
                <td>
                  <div *ngIf="test.isEdit">
                    <input type="text" name="testName" [(ngModel)]="test.testName" placeholder="test Name"
                      class="form-control">
                  </div>
                  <div *ngIf="!test.isEdit">
                    {{test.testName}}
                  </div>
                </td>
                <td>
                  <div *ngIf="test.isEdit">
                    <input type="date" name="assignedDate" [(ngModel)]="test.assignedDate" placeholder="assigned Date"
                      class="form-control">
                  </div>
                  <div *ngIf="!test.isEdit">
                    {{test.assignedDate|date:'dd-MM-yy'}}
                  </div>
                </td>
                <td class="d-flex">
                  <button class="btn border-0  ms-2 mt-2" (click)="onEdit(test)"><i
                      class="fa-solid fa-pen-to-square fs-6" style="color: blue;"></i> </button>
                  <button class="btn border-0 ms-2 mt-2" (click)="onDelete(test.userId)"><i
                      class="fa-solid fa-trash-can fs-6" style="color: red;"></i> </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="card-footer bg-light">
          <div><button type="button" class="btn btn-outline-primary" (click)="onSave()">Save / Update</button> </div>
        </div>
      </div>
    </div>
    <!-- Button to Open the Modal --> <!-- The Modal -->
    <div class="modal assign-test" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Assigned Test</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <label for=""> Registration Code</label>
                  <input type="text" class="form-control" name="registrationCode"
                    [(ngModel)]="assignTestObj.registrationCode">
                </div>
                <div class="col-6">
                  <label for=""> Test</label>
                  <select class="form-select" name="testId" [(ngModel)]="assignTestObj.testId">
                    <option value="select">Select</option>
                    <option *ngFor="let test of TestArray" [value]="test.testId">{{test.testName}}</option>
                  </select>

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row mt-3">
              <div class="col-6">
                <button class="btn btn-danger" (click)="onReset()">Reset</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="assignTest()">
                  <span class="spinner-grow spinner-grow-sm" *ngIf="isAPICallInProgress"></span>
                  Save</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
